@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252a;
}

li, a{
    font-family: "Cinzel", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
    margin-right:auto;   
}

.navlinks {
    list-style: none;
}

.navlinks li {
    display: inline-block;
    padding: 0px 20px;
}

.navlinks li a {
    transition: all 0.4s ease 0s;
}



.navlinks a {
  padding: .5em .8em;
  color: rgba(255,255,255,.5);
  position: relative;
  text-decoration: none;
  font-size: 20px;
}

.navlinks a::before,
.navlinks a::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}

.navlinks a::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid #25c8ce;
  border-right: 3px solid #0f9099;
  transform: translate(-100%, 50%);
}

.navlinks a:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #2E640F;
  border-left: 3px solid #3E8914;
  transform: translate(100%, -50%)
}

.navlinks a:hover:before,
.navlinks a:hover:after{
  transform: translate(0,0);
  opacity: 1;
}

.navlinks a:hover {
  color: #3DA35D;
}
